__pycache__
dataset/images/*
dataset/annotations/coco
dataset/annotations/csv
.ipynb_checkpoints
.idea
models/DenseDet_SKU_fusion_bfp_x101_32x4d_v2.pth
models/DenseDet_SKU_fusion_bfp_x101_32x4d_v1.pth
